#playing-card {
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0 grey;

  .playing-card--bg {
    background-color: rgba(255, 252, 81, 0.676);;
  }

  figure {
    margin: 0;
    background: lightgray;
    padding: 5px 5px 5px 5px;
    img {
      object-fit: cover;
    }
  }
}
